<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Style_Sheet/TopicsAndPrinciples.css")" rel="stylesheet" type="text/css" />

    <script src="~/Style_Sheet/MenuBar.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                @Html.ActionLink("Home", "", "Home")
            </li>
            <li>
                @Html.ActionLink("Expert Witness Topics And Principles", "", "TopicsAndPrinciples")
            </li>
            <li>
                @Html.ActionLink("Fees", "", "Fees")
            </li>
            <li>
                @Html.ActionLink("Downloads", "", "Downloads")
            </li>
            <li>
                @Html.ActionLink("Contact", "", "Contact")
            </li>

        </ul>
    </nav>
    <section class="section-light">
        <h2>Expert Witness Topics</h2>
        <ul>
            -	Valuation disputes for transactions;
        </ul>
        <ul>
            -	Mineral property sales;
        </ul>
        <ul>
            -	Share sales;
        </ul>
        <ul>
            -	Option pricing;
        </ul>
        <ul>
            -	Capital Gains Tax;
        </ul>
        <ul>
            -	Income and Revenue recognition;
        </ul>
        <ul>
            -	Interpretation of mineral resource and mineral reserve classification for the Comparative Approach;
        </ul>
        <ul>
            -	Assessing Modifying Factors for the Income Approach or cash flow calculations;
        </ul>
        <ul>
            -	Assessing capital expenditure for successful efforts calculations and capitalization of expense for the Historical Cost Approach;
        </ul>
        <ul>
            -	Assessing timing of first full production for tax purposes;
        </ul>
        <ul>
            -	Assessing inventories, stockpiles and metal accounting issues for balance sheet items;
        </ul>
        <ul>
            -	Royalty and BEPS issues.
        </ul>
        <p>These topics often lie at the heart of disputes between parties.</p>
        <p>Pre-litigation strategy consultations are recommended to assess technical and economic factors that the professional expert arguments would be centred upon to assess chance of success and merits.</p>
    </section>
    <section class="section-dark">
        <h2>Eye Witness Principles</h2>
        <p>
            There is much case law about how Experts should conduct themselves and being mindful of the conflict between helping to win a case and testifying in a manner which does not demonstrate bias is a difficult task.
            Ensuring no conflicts of interest and preventing being accused of being the “Fruit of a Poisonous Tree” are crucial to maintaining the integrity of the Expert.
            However, preparing a logical, compliant and factually correct argument for each case is at the centre of compelling credible and compelling expert witness evidence. This should be difficult to destroy and helpful to the court.
            In most cases, the courts are not familiar with technical details and trying to gain opposing experts to agree on technical facts and interpretations is a necessary but complex art.
 
        </p>
    </section>
    <div>
        @RenderBody()
    </div>
    @*<footer>
            <h3 class="copyright">Copyright</h3>
            <h3 class="SiteMap">Site Map</h3>
            <ol>
                <li>THE</li>
                <li>WORK</li>
            </ol>
        </footer>*@
</body>
</html>
