<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Style_Sheet/Downloads.css")" rel="stylesheet" type="text/css" />

    <script src="~/Style_Sheet/MenuBar.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                @Html.ActionLink("Home", "", "Home")
            </li>
            <li>
                @Html.ActionLink("Expert Witness Topics And Principles", "", "TopicsAndPrinciples")
            </li>
            <li>
                @Html.ActionLink("Fees", "", "Fees")
            </li>
            <li>
                @Html.ActionLink("Downloads", "", "Downloads")
            </li>
            <li>
                @Html.ActionLink("Contact", "", "Contact")
            </li>

        </ul>
    </nav>
    <section class="section-dark">
        <h2>testing</h2>

        <button class="button" onclick="location.href='/Images/Dummy.docx'" style="vertical-align:middle"><span>Download CV</span></button>
        </section>
        <div>
            @RenderBody()
        </div>
        @*<footer>
                <h3 class="copyright">Copyright</h3>
                <h3 class="SiteMap">Site Map</h3>
                <ol>
                    <li>THE</li>
                    <li>WORK</li>
                </ol>
            </footer>*@
</body>
</html>
